.sales {
  &__flex {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $sm) {
      flex-direction: column;
      margin-top: 50px;
    }
  }

  &__block {
    width: calc(50% - 12px);
    border-radius: 10px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 43px;
    position: relative;
    overflow: hidden;

    @media (max-width: $sm) {
      width: 100%;
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }

    @media (max-width: $xs) {
      padding-left: 20px;
      padding-right: 20px;
      height: 300px;
    }

    &--santeh {
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
      background: url('../img/sale-santeh-img.png') no-repeat right center;

      @media (max-width: $md) {
        background-position: right -100px center;
      }

      @media (max-width: $sm) {
        background-position: right center;
      }

      @media (max-width: $xs) {
        background: none;
      }
    }

    &--electric {
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
      background: $buttonBg;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        right: 69px;
        background: url('../img/sale-electric-ellipses.svg');
        width: 255px;
        height: 330px;
        z-index: 2;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 20px;
        background: url('../img/sale-electric-img.png');
        width: 235px;
        height: 348px;
        z-index: 2;

        @media (max-width: $md) {
          right: -50px;
        }

        @media (max-width: $sm) {
          right: 20px;
        }

        @media (max-width: $xs) {
          display: none;
        }
      }
    }

    &--last {
      background-size: cover;
      background-position: center;
      position: relative;
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #333;
        opacity: 0.4;
      }
    }
  }

  &__figure {
    perspective: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 330px;
    background: $buttonBg;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transform: skew(30deg);
    overflow: hidden;

    @media (max-width: $lg) {
      right: 200px;
    }

    @media (max-width: $md) {
      right: 150px;
    }

    @media (max-width: $sm) {
      right: 330px;
    }

    @media (max-width: $xs) {
      right: 0;
      transform: none;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      right: 0px;
      background: url('../img/sale-electric-ellipses.svg');
      width: 255px;
      height: 330px;
      z-index: 2;
      transform: skew(-30deg);

      @media (max-width: $xs) {
        transform: none;
      }
    }
  }

  &__name {
    width: 337px;
    font-family: $font700;
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-bottom: 24px;
    position: relative;

    @media (max-width: $xs) {
      width: 100%;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__title {
    font-family: $font700;
    font-size: 24px;
    line-height: 28px;
    color: black;
    position: relative;
  }

  &__text {
    margin-top: 4px;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 21px;
    color: black;
    max-width: 290px;
    position: relative;

    @media (max-width: $lg) {
      max-width: 200px;
    }

    @media (max-width: $sm) {
      max-width: 290px;
    }
  }

  &__logos {
    margin-top: 100px;
    display: flex;
    justify-content: center;

    @media (max-width: $sm) {
      margin-top: 50px;
    }

    @media (max-width: $xs) {
      margin-top: 24px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__logo {
    margin: 0 40px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $sm) {
      margin: 0 20px;
    }

    @media (max-width: $xs) {
      width: 50%;
      margin: 0;
    }

    img {
      max-width: 100%;
    }
  }
}