div.modal
    div.modal__content
        button.modal__close

        form.calc-form
            p.calc-form__title Расчет стоимости

            input.calc-form__input(type="text" placeholder="Как Вас зовут?")
            input.calc-form__input.tel-input(type="text" placeholder="Введите Ваш рабочий телефон")

            p.calc-form__note Нажимая на кнопку "Отправить" вы соглашаетесь с нашей <a href="">Политикой конфиденциальности</a>

            button.button.button--form
                span Отправить