doctype html
html
    head
        meta(http-equiv="text/html" charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Кладка межкомнатных перегородок в квартирах, домах и коттеджах
        link(rel="stylesheet" type="text/css" href="css/style.min.css")
    body

        section.top
            div.container
                header.header
                    div.header__logo кладка межкомнатных перегородок в квартирах, домах и коттеджах
                    div.header__phone
                        p.header__phone-label Без выходных с 9.00 до 22.00
                        a.header__phone-link(href="tel:+7 (495) 225-52-42") +7 (495) 225-52-42
                    button.button.open-modal(data-title="Заказать звонок")
                        span Заказать звонок

                h1.top__title Кладка межкомнатных перегородок из газоблока и пазогребневой плиты под ключ
                div.top__blocks
                    div.button.button--top
                        span
                            strong Цена работ от 600 руб./м.кв.
                            | Делаем на совесть, как для себя!
                    div.button.button--top.button--black
                        span
                            strong Гарантия 2 года
                            | на работы и материалы

        section.objects
            div.container
                div.block-head.block-head--no_top
                    p.title-label Услуги
                    h2.title Сданные обьекты
                    p.subtitle-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.

                div.objects-tabs
                    div.objects-tabs__item.objects-tabs__item--active(data-block="#flat") Квартира
                    div.objects-tabs__item(data-block="#townhouse") Танхаус
                    div.objects-tabs__item(data-block="#cottage") Коттедж
                    div.objects-tabs__item(data-block="#villa") Дачный дом

                div.objects-content
                    div.objects-block.objects-block--active#flat
                        div.objects-block__images
                            div.objects-block__image
                                img(src="img/top-bg.jpg")
                            div.objects-block__image
                                img(src="img/top-bg.jpg")
                            div.objects-block__image
                                img(src="img/top-bg.jpg")
                        div.objects-block__content
                            div.objects-block__part
                                p.objects-block__title О проекте
                                div.objects-block__list
                                    p.objects-block__name Площадь возводимых перегородок:
                                        span.objects-block__value 42 кв.м
                                    p.objects-block__name Количество дверных проемов:
                                        span.objects-block__value 4 шт.
                                    p.objects-block__name Стоимость работ:
                                        span.objects-block__value 28 050 руб
                                    p.objects-block__name Срок выполнения:
                                        span.objects-block__value 2 дня
                            div.objects-block__part
                                p.objects-block__title Материалы
                                div.objects-block__list
                                    p.objects-block__name Газосиликатный блок:
                                        span.objects-block__value 260 шт
                                    p.objects-block__name Клей для газобетона:
                                        span.objects-block__value 3 мешка
                                    p.objects-block__name Рифленая арматура 14мм:
                                        span.objects-block__value 3 прута
                                    p.objects-block__name Уголок примыкания:
                                        span.objects-block__value 9 шт
                                    p.objects-block__name Монтажная пена:
                                        span.objects-block__value 1 шт
                    div.objects-block#townhouse
                        div.objects-block__images
                            div.objects-block__image
                                img(src="img/top-bg.jpg")
                            div.objects-block__image
                                img(src="img/top-bg.jpg")
                            div.objects-block__image
                                img(src="img/top-bg.jpg")
                        div.objects-block__content
                            div.objects-block__part
                                p.objects-block__title О проекте
                                div.objects-block__list
                                    p.objects-block__name Площадь возводимых перегородок:
                                        span.objects-block__value 42 кв.м
                                    p.objects-block__name Количество дверных проемов:
                                        span.objects-block__value 4 шт.
                                    p.objects-block__name Стоимость работ:
                                        span.objects-block__value 28 050 руб
                                    p.objects-block__name Срок выполнения:
                                        span.objects-block__value 2 дня
                    div.objects-block#cottage
                        div.objects-block__images
                            div.objects-block__image
                                img(src="img/top-bg.jpg")
                            div.objects-block__image
                                img(src="img/top-bg.jpg")
                            div.objects-block__image
                                img(src="img/top-bg.jpg")
                        div.objects-block__content
                            div.objects-block__part
                                p.objects-block__title О проекте
                                div.objects-block__list
                                    p.objects-block__name Площадь возводимых перегородок:
                                        span.objects-block__value 42 кв.м
                                    p.objects-block__name Количество дверных проемов:
                                        span.objects-block__value 4 шт.
                                    p.objects-block__name Стоимость работ:
                                        span.objects-block__value 28 050 руб
                                    p.objects-block__name Срок выполнения:
                                        span.objects-block__value 2 дня
                            div.objects-block__part
                                p.objects-block__title Материалы
                                div.objects-block__list
                                    p.objects-block__name Газосиликатный блок:
                                        span.objects-block__value 260 шт
                                    p.objects-block__name Клей для газобетона:
                                        span.objects-block__value 3 мешка
                                    p.objects-block__name Рифленая арматура 14мм:
                                        span.objects-block__value 3 прута
                                    p.objects-block__name Уголок примыкания:
                                        span.objects-block__value 9 шт
                                    p.objects-block__name Монтажная пена:
                                        span.objects-block__value 1 шт
                    div.objects-block#villa
                        div.objects-block__images
                            div.objects-block__image
                                img(src="img/top-bg.jpg")
                            div.objects-block__image
                                img(src="img/top-bg.jpg")
                            div.objects-block__image
                                img(src="img/top-bg.jpg")
                        div.objects-block__content
                            div.objects-block__part
                                p.objects-block__title Материалы
                                div.objects-block__list
                                    p.objects-block__name Газосиликатный блок:
                                        span.objects-block__value 260 шт
                                    p.objects-block__name Клей для газобетона:
                                        span.objects-block__value 3 мешка
                                    p.objects-block__name Рифленая арматура 14мм:
                                        span.objects-block__value 3 прута
                                    p.objects-block__name Уголок примыкания:
                                        span.objects-block__value 9 шт
                                    p.objects-block__name Монтажная пена:
                                        span.objects-block__value 1 шт


        section.calc
            div.container
                div.block-head
                    p.title-label Услуги
                    h2.title Выполним расчет по <br />Вашему проекту или плану
                    p.subtitle-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                div.calc__content
                    div.calc__image
                        img(src="img/calc-img.png")
                    div.calc__block
                        form.calc-form
                            p.calc-form__title Расчет стоимости

                            input.calc-form__input(type="text" placeholder="Как Вас зовут?")
                            input.calc-form__input(type="text" placeholder="Введите электронную почту")
                            input.calc-form__input.tel-input(type="text" placeholder="Введите Ваш рабочий телефон")

                            button.calc-form__file Прикрепить файл
                                span Разрешено загружать: JPEG, PNG, PDF до 5Мб
                            input.calc-form__file-input(type="file" accept=".png, .jpg, .jpeg, .pdf" )

                            p.calc-form__note Нажимая на кнопку "Отправить" вы соглашаетесь с нашей <a href="">Политикой конфиденциальности</a>

                            button.button.button--form
                                span Отправить
            div.calc__right

        section.steps
            div.container
                div.block-head
                    p.title-label Услуги
                    h2.title Этапы выполнения работ
                    p.subtitle-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.

            div.steps-block
                div.steps-block__image
                    img(src="img/step1.jpg")
                div.steps-block__content
                    span.steps-block__num 1
                    p.steps-block__title Расчет по телефону
                    div.steps-block__text
                        p Вы оставляете заявку на сайте или связываетесь с нашим специалистом по телефону: <a href="tel:+7 (495) 116-82-31">+7 (495) 116-82-31</a>
                        p Он отвечает на все ваши вопросы, ориентирует по стоимости работ, материалов и срокам выполнения. Согласовывает дату и время выезда нашего инженера.
                    p.steps-block__title Максимально точный расчет по телефону
                    button.button.open-modal(data-title="Получить консультацию")
                        span Получить консультацию

            div.steps-block.steps-block--reverse
                div.steps-block__image
                    img(src="img/step2.jpg")
                div.steps-block__content
                    span.steps-block__num 2
                    p.steps-block__title Бесплатный выезд инженера на обьект в день обращения
                    div.steps-block__text
                        p Наш инженер выезжает на объект для осмотра и замера в удобное для вас время.<br />На месте уточняет детали, составляет рабочий проект.
                    p.steps-block__title Бесплатный рабочий проект
                    button.button.open-modal(data-title="Вызвать инженера")
                        span Вызвать инженера

            div.steps-block
                div.steps-block__image
                    img(src="img/step3.jpg")
                div.steps-block__content
                    span.steps-block__num 3
                    p.steps-block__title Подписание договора
                    div.steps-block__text
                        p Подписываем договор на выполнение работ по возведению перегородок с указанием сроков, характеристик вашего помещения, а также стоимости работ и материалов.
                    p.steps-block__title Фиксированная цена и срок выполнения работ

            div.steps-block.steps-block--reverse
                div.steps-block__image
                    img(src="img/step4.jpg")
                div.steps-block__content
                    span.steps-block__num 4
                    p.steps-block__title Подбор, закупка и доставка материалов на обьект
                    div.steps-block__text
                        p Работаем только с качественными материалами ведущих производителей, с учетом индивидуальных особенностей вашего обьекта.
                    p.steps-block__title Закупку, доставку и подъем материалов берем на себя.

            div.steps-block
                div.steps-block__image
                    img(src="img/step5.jpg")
                div.steps-block__content
                    span.steps-block__num 5
                    p.steps-block__title Выполнение работ по возведению перегородок
                    div.steps-block__text
                        p Производим работы по возведению перегородок без предоплаты в оговоренные сроки, в строгом соответствии с нормами и правилами СНиП.
                    p.steps-block__title Соблюдаем закон и правила тишины при проведении строительных работ.

            div.steps-block.steps-block--reverse
                div.steps-block__image
                    img(src="img/step6.jpg")
                div.steps-block__content
                    span.steps-block__num 6
                    p.steps-block__title Уборка строительного мусора
                    div.steps-block__text
                        p Убираем строительный мусор и оставляем помещение в чистоте.
                    p.steps-block__title После нас помещение чище чем было до начала работ

            div.steps-block
                div.steps-block__image
                    img(src="img/step7.jpg")
                div.steps-block__content
                    span.steps-block__num 7
                    p.steps-block__title Сдача выполненных работ Заказчику
                    div.steps-block__text
                        p Подписываем акт приёмки-сдачи выполненных работ.
                        p Вы оплачиваете стоимость работ по договору.
                    p.steps-block__title Приступаем к электромонтажным работам или монтажу водоснабжения, канализации и отопления

        section.sales
            div.container
                div.block-head
                    p.title-label Услуги
                    h2.title Заказывайте сейчас<br />и получайте скидки на работы по инженерным коммуникациям

                div.sales__flex
                    div.sales__block.sales__block--santeh
                        div.sales__figure
                        p.sales__title Сантехника
                        p.sales__text Lorem Ipsum is simply dummy text of the printing
                        button.button.button--white.open-modal(data-title="Получить скидку")
                            span Получить скидку
                    div.sales__block.sales__block--electric
                        p.sales__title Электрика
                        p.sales__text Lorem Ipsum is simply dummy text of the printing
                        button.button.button--white.open-modal(data-title="Получить скидку")
                            span Получить скидку

        section.sales
            div.container
                div.block-head
                    p.title-label Услуги
                    h2.title А также для вас действуют специальные цены от <br />наших партнеров

                div.sales__flex
                    div.sales__block.sales__block--last(style="background-image: url(img/sale3.jpg)")
                        p.sales__name Механизированная штукатурка стен
                        button.button.open-modal(data-title="Получить скидку")
                            span Получить скидку
                    div.sales__block.sales__block--last(style="background-image: url(img/sale4.jpg)")
                        p.sales__name Полусухая стяжка пола
                        button.button.open-modal(data-title="Получить скидку")
                            span Получить скидку

                div.sales__logos
                    div.sales__logo
                        img(src="img/logo1.jpg")
                    div.sales__logo
                        img(src="img/logo2.jpg")
                    div.sales__logo
                        img(src="img/logo3.jpg")
                    div.sales__logo
                        img(src="img/logo4.jpg")

        section.contacts
            div.contacts__map#map

            div.container
                div.contacts__block
                    p.contacts__title Контакты
                    address.contacts__address Химки, Ленинградская 39 стр. 6, “Химки Бизнес Парк”
                    p.contacts__label Без выходных с 9.00 до 22.00
                    a.contacts__phone(href="tel:+7 (495) 225-52-42") +7 (495) 225-52-42
                    button.button.button--form.open-modal(data-title="Заказать звонок")
                        span Заказать звонок

        footer.footer
            p Name site***2020
            a(href="") Политика конфиденциальности


        // MODAL
        include ../components/modal.pug

        // SCRIPTS
        include ../components/scripts.pug